<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>

  <% if @user.new_record? %>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
  <% else %>
    <p>
      <%= link_to "Change Password Here", change_password_path(@user) %>
    </p>
  <% end %>  

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
<!--   <div class="field">
    <%= f.label :joined_at %><br>
    <%= f.datetime_select :joined_at, value: Time.now %>
  </div> -->
  <div class="field">
    <%= f.label :verified %><br>
    <%= f.check_box :verified %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
